# timeout in milliseconds for the http requests (optional, defaults to 5000)
#timeout=

# the interval in milliseconds when to find new refresh candidates
# (optional, defaults to 1000)
#granularity=

# whether to substitute the current time or state value into the URL
# (optional, defaults to true)
#format=

# configuration of the first cache item
GoogelDistance.url=https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Lyngholen%2020,Sandnes&destinations=Fabrikkveien%2010,stavanger&departure_time=now&key=AIzaSyBcC1HzSod5uLIw_DIHT0MspT7__CW0Gw0
GoogelDistance.updateInterval=60000



# configuration of the second cache item  
Hovedistance.url=https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Lyngholen%2020,Sandnes&destinations=Hoveveien%20104,sandnes&departure_time=now&key=AIzaSyBcC1HzSod5uLIw_DIHT0MspT7__CW0Gw0
Hovedistance.updateInterval=60000

# Third item
Yr.url=https://www.yr.no/sted/Norge/Rogaland/Sandnes/Sandnes/varsel.xml
Yr.updateInterval=60000

